extends layout
block content
    h1= title
    p You are amazing
    p.
      Jade is a terse and simple
      templating language with a
      strong focus on performance
      and powerful features.